* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #444;
    transition: color 0.14s ease-in-out !important;
}
a:hover{
    color: #f8b500 !important;

}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
h1 {
    font-size: 25px;
}

.mg- {
    margin: -12px 0 !important;
}
#content-img-news,
#repository-content {
  width: 100% !important;
}
.info-bar-mg {
    margin-top: -25px !important;
}

.news-row {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.p-text {
    color: #444;
    margin-bottom: 20px;
}
.p-text-size{
    font-size: 14px;
}
.title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    flex-basis: 100%;
    transition: 0.15s all ease-in-out;
}

.title:hover {
    color: #f8b500;
    cursor: pointer;
}

.title::after {
    content: '';
    position: absolute;
    background-color: #f8b500;
    bottom: 0;
    width: 100px;
    height: 4px;
    z-index: 1;
}

.title::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #444;
    z-index: 0;
}

.icon-text {
    color: #fff;
}

.icons {
    margin-top: -7px;
}

.article-title {
    padding-top: 0;
}

.article-title a {
    font-weight: bold;
    color: #444;
}


.article-title-a-2{
    font-weight: bold;
    color: #d6d0d0;

}
.article-title-img {
    margin-left: 15px;
}
.creator-name:hover{
    color: #cf9b0a !important;
}
.article-title-news {
    padding-top: 0 !important;
    margin: 0 !important;
    font-size: 15px !important;
}
.text-color{
    color: #f8b500;
}
.article-title-mg {
    margin-top: 0;
    font-size: 17px;
}

.info-bar {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.info-bar i {
    color: #f8b500;
    margin: 0 26px;
}

.info-bar p {
    margin-right: 10px;
}

.info-bar p .text-creator {
    color: rgb(196, 182, 182);
}

.info-bar p a {
    font-weight: bold;
    color: #f8b500;

}

.info-bar .icon-text {
    margin: 0 0 0 -26px;
}

.info-bar-page {
    padding: 0 !important;
    margin: 0;
}

.info-bar-page p .text-creator {
    color: #4d4b4b !important;
}

.info-bar-page .icon-text {
    color: #333 !important;
}

.info-bar-column {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
}
.info-bar-size{
    font-size: 13px !important;
    margin-top: -20px !important;
}
#menu {
    list-style: none;
    display: flex;
}

#menu li {
    padding: 15px 20px;
}

#menu>li a {
    font-weight: bold;
}


body>#repository>header .repository-header {
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: space-around;
}

#repository>header img {
    cursor: pointer;
}

#repository {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.burger-menu-logo {
    display: none;
}

.burger-menu {
    border: none;
}

article h1 {
    color: #fff;
}

#news {
    display: flex;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.bitcoin-news {
    background-image: url('images/banner-1-600x450.jpg');
    flex: 2.033;
    height: 460px;
    margin-right: 11px;
}

.bitcoin-news .news-text {
    margin-left: 0px !important;
}

.russians-crypto {
    background-image: url('images/slider-2-450x600.jpg');
    flex: 1;
    height: 230px;
}

.bitcoin-news-2017 {
    background-image: url('images/slider-3-450x600.jpg');
    flex: 1;
    height: calc(230px - 10px);
}

.news-colmon {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-row2 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.crypto-stock {
    display: flex;
    background-image: url('images/polular-2-100x100.jpg');
    height: 230px;
    flex: 1;
    width: 100%;
}

.culture-stock {
    background-image: url('images/slider-5-450x600.jpg');
    display: flex;
    width: 100%;
    margin: 0 11px;
    flex: 1;
}

.culture-stock .news-text {
    margin-right: 2px;
}

.billionares {
    background-image: url('images/slider-6-450x600.jpg');
    display: flex;
    width: 100%;
    flex: 1;
}

#repository-content {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
    flex-wrap: nowrap;
}

main h2,
aside h2 {
    color: #333;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 0 1 68%;
    min-width: none;
}

.crypto-mining-news-content {
    display: flex;
    flex-basis: 50%;
    gap: 30px;
}


#crypto-mining{
    display: flex;
    flex-direction: column;
}
.market-news-2024,
.bitcoin-billionares {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px !important;
}

#price-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#price-list li {
    padding: 15px 20px;
    background-color: #f8b500;
    text-align: center;
    width: 100%;
    transition: background-color 0.2s ease;
}

#price-list li:hover {
    background-color: #b88517;
    cursor: pointer;
}

.popular-post {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
}

#popular-posts img {
    flex-shrink: 0;
    width: 100px;
    height: auto;
}

.text-news {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.popular-posts-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
}

.btn {
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #fff !important;
    background-color: #0e80a3 !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

.btn:hover {
    transform: scale(0.97);
}

.btn:active {
    transform: translateX(3px);
}

input {
    display: flex;
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: #444;
    transition: 0.3s all ease;
    border: 2px solid #0e80a3;
    border-radius: 9px;
    font-weight: bold;
}

input:focus {
    outline: none;
    border: 2px solid #0e80a3;
    background-color: #c9c9c9 !important;
    background-blend-mode: multiply;
}

input:hover {
    transform: scale(0.99);
}

form {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 30%;
    max-width: 100%;
}
#repository img,
.crypto-mining-news-content img,
.popular-post img {
  max-width: 100%;
  height: auto;
  display: block;
}
.popular-post .text-news{
    align-items: flex-start;
    flex: 0 1 100%;
}
.popular-post img{
    display: flex;
    flex: 1 1 30%;
}
footer{
    background-color: rgb(143, 134, 134);
    background-blend-mode: screen;
    background-image: url('images/map.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: #d6d0d0 !important;
    width: 100% !important;

    
}

.part-1{
    padding-bottom: 5px;
    border-bottom: 1px solid #494646;
}
.repository-footer-content{
    display: flex;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.83);
    background-blend-mode: multiply;
    width: 100%;

   
}
.footer-contects{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 15px 40px;
    align-self: flex-start;

}
.footer-contects img{
    width: 180px;
    margin-top: 18px;
    
}
.footer-list{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 0;
}
.footer-list li{
    padding: 15px 20px;
}
.footer-list li a{
    color: #d6d0d0;
    font-size: 13px;
}
.footer-nav{
    border-top: 1px solid #494646;
    background-color: rgba(0, 0, 0, 0.83);
    background-blend-mode: multiply;
    padding-bottom: 40px;
    display: flex;
}
.icons-media-list{
    list-style: none;
    display: flex;
}
.icons-media-list li{
    padding: 0 10px;
}
.footer-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.footer-inner-2{
    max-width: 1200px;
    display: flex;
    margin: 0 auto; 
}
img,video {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width:1199.98px) {
    #repository {
        width: 992px;
    }
    .news-row2 h1,
    #news-colmon h1 {
        font-size: 23px;
    }

    .billionares .news-text {
        margin-right: 10px;
    }

    #news-colmon .info-bar {
        margin-right: 10px;
    }
}

@media (max-width:991.98px) {
    #repository {
        width: 100%;
        max-width: 768px; 
    }
    #repository-content {
    gap: 20px;          
    }
    #menu li {
        padding: 0 15px;
    }
    main{
        flex: 0 1 70%;
        min-width: 0;
    }
    aside{
        flex: 0 1 30%;
        min-width: 0;
    }

    #menu li a {
        font-size: 13px;
    }

    .bitcoin-news {
        flex: 2.042;
    }
    .popular-posts-content{
        gap: 15px;
    }
    .popular-post{
        flex-direction: row;
        align-items: center;
    }
    #popular-posts .article-title {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .text-news{
        display: flex;
        flex: 1;
        align-self: flex-start;
        margin-left: 10px;
        
    }
    .popular-post .article-title a {
        font-size: 11px; 
        line-height: 1.2;
    }
    .popular-post .icons{
        margin-left: -23px;
        gap: 0;
    }
  
    .popular-post .info-bar {
        margin-left: 0;
        font-size: 10px !important;
    }

    .popular-post .info-bar i {
        font-size: 10px;
    }

    .popular-post .icon-text {
        font-size: 10px;
        
    }
  
}

@media (max-width:767.98px) {
    #repository {
        width: 100%;
        max-width: 576px;
        margin: 0 auto;
    }
    
    #repository-content{
        display: flex;
        flex-direction: column;
    }
    .footer-inner,
    .footer-inner-2{
        flex-direction: column;
    }
    
    .repository-footer-content{
        display: flex;
        flex-direction: column !important;
    }
    main{
        width: 100%;
        max-width: 576px;
    }
    footer{
        margin-top: 30px;
    }
    .crypto-mining-news-content{
        flex-direction: column;
        align-items: center;
    }
    .crypto-mining-news-content h4 a{
        font-size: 1.2rem;
    }
    .crypto-mining-news-content .text-news .info-bar-size *{
        font-size: 0.6rem;
    }
    #popular-posts .text-news{
        align-items: flex-start;
    }
    #popular-posts .text-news h2 a{
        font-size: 0.8rem !important;
    }
    #popular-posts .text-news .info-bar-size *{
        font-size: 0.7rem !important;
    }
    #popular-posts img{
        width: 100px;
        height: 100px;        
    }
    .news-row,
    .news-row2 {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
    }

    .news-colmon {
        display: block;
        width: 100% !important;
        gap: 0 !important;
    }

    .news-text {
        margin-left: 0;
    }

    #content {
        margin-top: 0px !important;
    }

    .w-100 {
        width: 100% !important;
        height: auto;
        min-height: 250px;
        margin: 0 0 10px 0 !important;
    }
    #content-img-news .bitcoin-news .icons{
        margin-right: 10px !important;
    }
    .repository-header img {
        display: none !important;
    }

    .burger-menu-logo {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
    }

    .burger-menu-logo button {
        width: 55px;
        height: 40px;
        position: relative;
    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        background-color: rgb(209, 145, 6);
        padding: 0;
        margin: 0;
        opacity: 0;
        width: 70%;
        margin-top: -24px;
        transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
        transform: translateY(-10px);
        border-radius: 8px;
        position: fixed;
        z-index: 9999;

    }

    #menu > li a {
        transition: color 0.18s ease-in-out;
    }
    .header-menu2{
        margin: 0 auto;
    }

    #menu>li a:hover {
        color: #fff;
    }

    #menu.show-menu {
        opacity: 1;
        transform: translateY(0);
    }

    #menu li {
        border-bottom: 1px solid #353333;
        text-align: center;
        width: 100%;
        padding: 15px 0;
    }
    #menu li:last-child{
        border-bottom: none;
    }
}

@media (max-width:575.98px) {
    #repository {
        width: calc(100% - 30px);
    }
}